/ {
  behaviors {
    macro_to_rus: macro_to_rus {
      compatible = "zmk,behavior-macro";
      label = "MACRO_TO_RUS";
      #binding-cells = <0>;
      bindings = < &to 3 &kp LC(LS(N1)) >;
    };

    macro_to_eng: macro_to_eng {
      compatible = "zmk,behavior-macro";
      label = "MACRO_TO_ENG";
      #binding-cells = <0>;
      bindings = < &to 0 &kp LC(LS(N0)) >;
    };

    lt_to_rus: lt_to_rus {
      compatible = "zmk,behavior-hold-tap";
      label = "LT_TO_RUS";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&macro_to_rus>, <&kp>;
    };

    lt_to_eng: lt_to_eng {
      compatible = "zmk,behavior-hold-tap";
      label = "LT_TO_ENG";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&macro_to_eng>, <&kp>;
    };

    lt_hold: lt_hold {
      compatible = "zmk,behavior-hold-tap";
      label = "LT_HOLD";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };
};