/ {
  behaviors {
    lt_esc: behavior_hold_tap {
      compatible = "zmk,behavior-hold-tap";
      label = "LT(0, ESC)";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      tapping-term-ms = <200>;
      bindings = <&to>, <&kp>;
    };
  };
};