/ {
  behaviors {
    esc_layer_switch: behavior_macro_two_param {
      compatible = "zmk,behavior-macro-two-param";
      #binding-cells = <2>;
      wait-ms = <0>;
      tap-ms = <0>;
      bindings = <
        &macro_param_1to1 &to MACRO_PLACEHOLDER
        , <&macro_param_2to1 &kp MACRO_PLACEHOLDER>
      >;
    };

    lt_esc_russian: behavior_hold_tap {
      compatible = "zmk,behavior-hold-tap";
      label = "LT_ESC_RUSSIAN";
      #binding-cells = <0>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      bindings = <&esc_layer_switch 3 LC(LS(N1))>, <&kp ESC>;
    };

    lt_esc_default: behavior_hold_tap {
      compatible = "zmk,behavior-hold-tap";
      label = "LT_ESC_DEFAULT";
      #binding-cells = <0>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      bindings = <&esc_layer_switch 0 LC(LS(N0))>, <&kp ESC>;
    };
  };
}; 